body {
    font-family: Garamond, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f5;
}
header {
    background-color: #228b22;
    color: white;
    text-align: center;
    font-size: 14pt;
}
header nav a {
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
header nav a:hover {
    background-color: rgb(25, 95, 4);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main, .content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 50px auto;
    min-height: calc(100vh - 160px);;
}
.main img {
    width: 200px;
    margin-right: 10px;
    float: left;
}
h1{
    text-align: center;
    color: rgb(11, 48, 0);
}
h3{
    font-size: 1.5em;
    color: rgb(11, 48, 0);
}
p {
    font-size: 1.2em;
    margin: 20px 0;
    display: block;
    text-align: justify;
    color: #2f855a;
}
li{
    font-size: 1.2em;
    margin: 0 0 4px 0;
    color: #2f855a;
}
a{
    color: #228b22;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #228b22;
    color: white;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.institute, .project {
    background-color: aliceblue;
    border: 2px solid #228b22;
    padding: 10px 10px 10px 15px;
    border-radius: 25px;
    margin-bottom: 20px;
    color: #2f855a;
}

.project img{
    width: 300px;
    float: left;
    margin: 10px;
}
.institute p{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.institute h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
.institute .position{
    margin-top: 10px;
}
.institute .country{
    margin-bottom: 10px;
}
.institute .degree{
    margin-bottom: 10px;
}
.place{
    font-style: italic;
}
.position-desription {
    font-weight: bold;
    text-decoration: underline;
}
.major-minor {
    font-size: 1em;
    color: #3b5d4d; /* Slightly muted green for majors/minors */
    margin: 10px 0 0 0;
}

.major-minor strong {
    color: #2f855a; /* Darker green for labels */
}

